{% extends "ghapp/master.html" %}

{% block title %}Green House System{% endblock %}


{% block content %}
<div class = "container" id = "graph-div" style = "width: 550px; height: 400px; margin: 0 auto"></div>
<script>
    $(document).ready(function(){
        let temperature = "{{ temperature | js}}";
        let humidity = "{{ humidity | js}}";
        let title = {
            text:'Greenhouse Conditions'
        };
        let subtitle = {
            text:'Atmospheric conditions'
        };
        let xAxis = {
            categories:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

        };
        let yAxis = {
            title:{
                text:''
            },
            plotLines:[{
                value:0,
                width:1,
                color:"#808080"
            }]
        };
        let tooltip = {
            valueSuffix:'\xB0C'
        };

        let legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 1
        };

        var series = [
            {
                name: 'Temperature',
                data: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
            }, 
            {
                name: 'Humidity',
                data: [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]
            }
        ];  
        var json = {};
        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.tooltip = tooltip;
        json.legend = legend;
        json.series = series;
        $('#graph-div').highcharts(json);     
    });
</script>
{% endblock %}


{% block footer %}
<ul class="nav navbar-nav">
	<li>
		<a class = "nav-link" href="{% url 'ghapp:logout' %}">Logout</a>
	</li>
</ul>
{% endblock %}
