{% extends "ghapp/master.html" %}

{% block title %}Green House System{% endblock %}

{% load static %}
{% block content %}
<fieldset class="preview-border col-md-6">
    <legend>Graph:</legend>
	<div class = "container" id = "graph-div" style = "width: 550px; height: 400px; margin: 0 auto"></div>
</fieldset>
<fieldset class="preview-border col-md-6">
	<legend>Weed Detection System:</legend>
	<img src="{% static 'ghapp/images/no_weeds.jpeg' %}" alt="">
	<label class="label label-info">Weed spread: 0%</label>
	<hr/>
	<img src="{% static 'ghapp/images/few_weeds.jpeg' %}" alt="">
	<label class="label label-info">Weed spread: 3.2%</label>
    <hr/>
    <img src="{% static 'ghapp/images/a_lot_of_weeds_2.jpeg' %}" alt="">
	<label class="label label-info">Weed spread: 22.8%</label>
</fieldset>
<script>
    $(document).ready(function(){
        let temperatureStr = "{{ temperature | safe}}";
        let temperature = JSON.parse(temperatureStr);
        let humidityStr = "{{ humidity | safe}}";
        let humidity = JSON.parse(humidityStr);

        let title = {
            text:'Greenhouse System'
        };
        let subtitle = {
            text:'Atmospheric conditions'
        };
        let xAxis = {
            title:{
                text:"Recordings"
            },
            categories:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

        };
        let yAxis = {
            title:{
                text:'Temp in (\xB0C) & Humidity in (g/m\xB3)'
            },
            plotLines:[{
                value:0,
                width:1,
                color:"#808080"
            }]
        };
        let tooltip = {
            valueSuffix:'\xB0'
        };

        let legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 1
        };

        var series = [
            {
                name: 'Temperature',
                data: temperature
            }, 
            {
                name: 'Humidity',
                data: humidity
            }
        ];  
        var json = {};
        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.tooltip = tooltip;
        json.legend = legend;
        json.series = series;
        $('#graph-div').highcharts(json);     
    });
</script>
{% endblock %}


{% block footer %}
<ul class="nav navbar-nav">
	<li>
		<a class = "nav-link" href="{% url 'ghapp:logout' %}">Logout</a>
	</li>
</ul>
{% endblock %}
