{% extends "ghapp/master.html" %}

{% block title %}Green House System{% endblock %}


{% block content %}

<fieldset class="preview-border col-md-6">
	<legend>Commands:</legend>
	<div class="container">
		<button class="btn btn-info" id="lights_button">Lights</button>
		<label class="label label-info response_label" id="lights_response_label"></label>
	</div>
	<div class="container">
		<button class="btn btn-info" id="vent_button">Vent</button>
		<label class="label label-info response_label" id="vent_response_label"></label>
	</div>
</fieldset>
{% endblock %}


{% block footer %}
<ul class="nav navbar-nav">
	<li>
		<a class = "nav-link" href="{% url 'ghapp:logout' %}">Logout</a>
	</li>
</ul>
{% endblock %}
