{% extends "ghapp/master.html" %}

{% block title %}Green House System{% endblock %}

{% block content %}
<!--	<button id="button0" type="button" class="btn btn-default">Trial</button>	-->
<button id="button0" type="button" class="btn btn-default">Lights</button>
<fieldset class="preview-border col-md-6">
	<legend>Atmospheric Conditions:</legend>
	<label class="label label-info">Temperature: </label>
	<label class="label label-info">{{ temperature }}</label>
	<hr/>
	<label class="label label-info">Humidity: </label>
	<label class="label label-info">{{ humidity }}</label>
</fieldset>
<fieldset class="preview-border col-md-6">
	<legend>Soil Conditions:</legend>
	<label class="label label-info">Moisture Content: </label>
	<label class="label label-info">{{ soil_moisture }}</label>
</fieldset>
<fieldset class="preview-border col-md-8">
	<legend>Recent Activity:</legend>
	<font size = "1.6" weight="0.2" >
	<table class="table-striped table-hover table-bordered">
		<tr>
			<th>Activity</th>
			<th>Initiated by</th>
			<th>Date</th>
		</tr>
		{% for activity in activities %}
			<tr class = "activity-data">
				<th>{{ activity.get_activity_display }}</th>
				<th>{{ activity.user }}</th>
				<th>{{ activity.date_recorded }}</th>
			</tr>
		{% endfor %}
	</table>
	</font>
</fieldset>


{% endblock %}

{% block brython_block %}
<script type="text/python">
	from browser import document, alert
	from GHMCS_OO import GreenhouseSystem as GreenHouse

	lights_state = 'off'

	def lights_func(ev):
		if lights_state is "off":
			GreenHouse().switch_lights('on')
			lights_state = 'on'
			alert(lights_state)
		else
			GreenHouse().switch_lights('off')
			lights_state = 'off'
			alert(lights_state)
			
	document["button0"].bind("click", hello)

</script>

{% endblock %}

{% block footer %}
<ul class="nav navbar-nav">
	<li>
		<a class = "nav-link" href="{% url 'ghapp:logout' %}">Logout</a>
	</li>
</ul>
{% endblock %}

